--exclude .build

# rules
--disable redundantReturn
--disable andOperator
--disable wrapMultilineStatementBraces
--disable blankLinesBetweenImports

# format options
--closingparen same-line
--nospaceoperators ..<, ...