--swiftversion 5.7
--exclude .build

# rules
--disable redundantReturn
--disable andOperator
--disable wrapMultilineStatementBraces

# format options
--closingparen same-line
--nospaceoperators ..<, ...