SDKROOT = iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 10.0
TARGETED_DEVICE_FAMILY = 1,2

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
INFOPLIST_FILE = Example-ios/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.swiftscream.URITemplateExample
PRODUCT_NAME = $(TARGET_NAME)
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

OTHER_LDFLAGS = -framework URITemplate

CODE_SIGN_IDENTITY = iOS Developer
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM =
