SDKROOT = watchos
WATCHOS_DEPLOYMENT_TARGET = 3.0
TARGETED_DEVICE_FAMILY = 4

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
SKIP_INSTALL = YES
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @executable_path/../../Frameworks
INFOPLIST_FILE = Example-watch/Extension/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.swiftscream.URITemplateExample.watchkitapp.watchkitextension
PRODUCT_NAME = $(TARGET_NAME)

OTHER_LDFLAGS = -framework URITemplate

CODE_SIGN_IDENTITY = iOS Developer
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM =
