SDKROOT = watchos
WATCHOS_DEPLOYMENT_TARGET = 2.0
TARGETED_DEVICE_FAMILY = 4

APPLICATION_EXTENSION_API_ONLY = YES

SKIP_INSTALL = YES
OTHER_LDFLAGS = -ObjC -all_load
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
PRODUCT_NAME = URITemplate
PRODUCT_MODULE_NAME = URITemplate

DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath

CODE_SIGN_IDENTITY =

MACH_O_TYPE = staticlib
DEFINES_MODULE = YES
INFOPLIST_FILE = Source/FrameworkInfo.plist
PRODUCT_BUNDLE_IDENTIFIER = com.swiftscream.URITemplate
