COPY_PHASE_STRIP = NO
ALWAYS_SEARCH_USER_PATHS = NO
GCC_NO_COMMON_BLOCKS = YES
GCC_C_LANGUAGE_STANDARD = gnu11
CLANG_CXX_LANGUAGE_STANDARD = gnu++14
CLANG_CXX_LIBRARY = libc++
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
SWIFT_VERSION = 4.1
SWIFT_TREAT_WARNINGS_AS_ERRORS = YES

#include "Warnings.xcconfig"
