SDKROOT = watchos
WATCHOS_DEPLOYMENT_TARGET = 3.0
TARGETED_DEVICE_FAMILY = 4

APPLICATION_EXTENSION_API_ONLY = YES

SKIP_INSTALL = YES
OTHER_LDFLAGS = -ObjC
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
PRODUCT_NAME = $(TARGET_NAME)
PRODUCT_MODULE_NAME = URITemplate
